body {
    background-color: rgb(55, 55, 55);
    padding: 0px 300px;
}

.content {
    font-family: sans-serif;
    font-size: 30px;
    color: #ffdc43;
    padding-top: 30px;
}

.hero {
    font-family: sans-serif;
    font-size: 30px;
    color: white
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ff747a;
  }

a:visited {
    color: white;
  }

  a:hover {
    color: #ff747a;
    text-decoration: underline;
}

.head2 {
    font-family: sans-serif;
    font-size: 30px;
    color: #15b1c2;
}

.head2-highlight{
    color: #ff747a;
}

.paragraph {
    font-family: sans-serif;
    font-size: 21px;
    color: white;
    padding-bottom: 50px;
}

.responsive {
    width: 100%;
    height: auto;
}

.artist {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    text-align: end;
}

.item-1 {
    width: 450px;
    height: 450px;
    border-top-left-radius: 225px;
    border-bottom-left-radius: 225px;
    background-color: #ff747a;
    font-family: sans-serif;
    font-size: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.item-2 {
    width: 450px;
    height: 450px;
    background-color: #ffdc43;
    font-family: sans-serif;
    font-size: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.item-3 {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #15b1c2;
    font-family: sans-serif;
    font-size: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.catch-up {
    font-family: sans-serif;
    font-size: 22px;
    color: white;
    width: 29%;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: left;
}

.footer-1 {
    font-family: sans-serif;
    font-size: 20px;
    color: #5856d6;
    text-align: center;
    padding-top: 100px;
}

.footer-2 {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 24px;
    background: #DD4AB3;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

.btn:hover {
    background: #3cb0fd;
    color: black;
    text-decoration: none;
  }

.ux-ui {
    font-family: sans-serif;
    font-size: 30px;
    color: #15b1c2;
    padding-top: 30px;
  }

.front-end {
    font-family: sans-serif;
    font-size: 30px;
    color: #ff747a;
    padding-top: 30px;
  }

.accessibility {
    font-family: sans-serif;
    font-size: 30px;
    color: #ffdc43;
    padding-top: 30px;
  }

.coming-soon {
    font-family: sans-serif;
    font-size: 21px;
    color: white;
  }
